workflows/Push workflows to Github.json
{
  "updatedAt": "2026-03-17T13:42:31.435Z",
  "createdAt": "2026-03-17T12:53:30.997Z",
  "id": "uwb71tg7ODrw9uhG",
  "name": "Push workflows to Github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cd059683-238b-4bc6-92e5-f401ca04fe14",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "eb4fcdb9-bbfb-4eb2-bd8b-285a7ee42e31",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "uVWbbjFWr2WOihDe",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "d9dd8adc-0ee5-4b74-b62e-fdf56d828008",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f07e475-1b12-4695-bd34-0b92b05dd0e8",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        176
      ],
      "id": "d54bcb67-f355-448c-813a-1e1ea365e0c9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "denkach",
          "mode": "list",
          "cachedResultName": "denkach",
          "cachedResultUrl": "https://github.com/denkach"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-projects",
          "mode": "list",
          "cachedResultName": "n8n-projects",
          "cachedResultUrl": "https://github.com/denkach/n8n-projects"
        },
        "filePath": "=workflows/{{ $json.name }}.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "id": "35dcf235-b6c2-4d17-a915-e2a68748af79",
      "name": "Edit a file",
      "webhookId": "dcd85631-2f03-4539-a560-82e304a647e3",
      "credentials": {
        "githubApi": {
          "id": "QNjjyS99K1sXn7sY",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e09680f7-f0bc-4232-b51b-00cabd4456a4",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-17T12:53:30.997Z",
      "createdAt": "2026-03-17T12:53:30.997Z",
      "role": "workflow:owner",
      "workflowId": "uwb71tg7ODrw9uhG",
      "projectId": "KOrXEL5vdX4pBrsn"
    }
  ],
  "activeVersion": null,
  "tags": []
}